@model MyFirstWebApplication.Controllers.HomeController
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4" style="font-family: Roboto;">Mbali's Bakery</h2>
    <hr />
    <!-- <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> -->
</div>

<div class="card-columns">
    @foreach (var cake in Model.Cakes)
    {
        <div class="card">
            <div class="card-img" style="background-image: url('@cake.path')"></div>
            <div class="card-body">
                <h5 class="card-title">@cake.name</h5>
                <p>@cake.description</p>
                <h4>R @cake.price</h4>
            </div>
        </div>
    }
</div>

