@model Cake[]
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Mbali's Bakery</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@foreach (var cake in MyFirstWebApplication.Controllers.HomeController.Cakes)
{ 
    <h2>@cake.name</h2>
}
